/* About */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

#aboutText {
  background-image: url("/banner-test.avif");
  background-size: cover;
  background-position: center;
  color: #191919;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}

#aboutText .sectionSubtitle,
#aboutText .sectionTitle {
  color: #191919;
}

.aboutDescription {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aboutDescription h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem
}

#aboutConquests {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}