.textImageSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.textContainer {
  flex: 2 1 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.sectionSubtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #d92123;
}

.sectionTitle {
  color: #191919;
  font-size: 2rem;
}

.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #d92123;
  color: #ffff;
  align-self: end;
}

.imageContainer {
  flex: 1 1 300px;
  position: relative;
}

.imageContainer i {
  position: absolute;
}

#otherSevices {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.service {
  position: relative;
}

.service i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.serviceInfo {
  background-color: #eff3f4;
  padding: 2rem 1.4rem;
  min-height: 250px;
  margin-top: -3rem;
  z-index: 2;
  position: relative;
}

.service h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* About */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

#aboutText {
  background-image: url("/banner-test.avif");
  background-size: cover;
  background-position: center;
  color: #191919;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}

#aboutText .sectionSubtitle,
#aboutText .sectionTitle {
  color: #191919;
}

#aboutText i {
  color: #191919;
  background-color: transparent;
}

.aboutDescription {
  display: flex;
  align-items: center;
}

.aboutDescription h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem
}

#aboutConquests {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Testimonials */
#testimonials {
  display: flex;
  align-items: center;
}
#testimonialsInformation {
  padding: 3rem;
}

.author {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.author .authorName {
  color: #d92123;
  font-size: 1.3rem;
  font-weight: bold;
}

.authorJob {
  color: #191919;
}

.author img {
  width: 100px;
  height: 100px;
}