.textImageSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.textContainer {
  flex: 2 1 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.sectionSubtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #d92123;
}

.sectionTitle {
  color: #191919;
  font-size: 2rem;
}

.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #d92123;
  color: #ffff;
  align-self: end;
}

.imageContainer {
  flex: 1 1 300px;
  position: relative;
}

.imageContainer i {
  position: absolute;
}

#otherSevices {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.service {
  position: relative;
}

.service i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.serviceInfo {
  background-color: #eff3f4;
  padding: 2rem 1.4rem;
  min-height: 250px;
  margin-top: -3rem;
  z-index: 2;
  position: relative;
}

.service h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}