.textImageSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#otherSevices {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

/* ****************************** */




/* About */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

#aboutText {
  background-image: url("/banner-test.avif");
  background-size: cover;
  background-position: center;
  color: #191919;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}

#aboutText .sectionSubtitle,
#aboutText .sectionTitle {
  color: #191919;
}

#aboutText i {
  color: #191919;
  background-color: transparent;
}

.aboutDescription {
  display: flex;
  align-items: center;
}

.aboutDescription h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem
}

#aboutConquests {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Testimonials */
#testimonials {
  display: flex;
  align-items: center;
}
#testimonialsInformation {
  padding: 3rem;
}

.author {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.author .authorName {
  color: #d92123;
  font-size: 1.3rem;
  font-weight: bold;
}

.authorJob {
  color: #191919;
}

.author img {
  width: 100px;
  height: 100px;
}

/* Team */
#team {
  position: relative;
  margin-bottom: 2rem;
}

.square {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #d92123;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 40px;
}

#team h2 {
  font-size: 3rem;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

#team span {
  text-decoration: underline;
}

#team .square {
  background-color: #eff3f4;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: -25px;
}

.employess {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

/* Contact */

#contact {
  background-color: #d92123;
  gap: 0;
  padding-bottom: 5rem;
}

#contactInformation {
  position: relative;
  text-align: left;
  padding: 2rem;
  flex: 1 1 0;
}

.sectionSubtitle {
  color: #ffffff;
  margin-top: 3rem;
}

#contactInformation i {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #000;
  border-radius: 0.3rem;
}

#contactInformation form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contactInformation .formControl {
  display: flex;
  gap: 1rem;
}

#contactInformation input,
#contactInformation textarea {
  flex: 0.5rem;
  padding: 0.9rem;
  border: none;
  border-radius: 0.5rem;
}

#contactInformation .btn {
  align-self: start;
  border: 2px solid #ffff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}

#contactInformation .btn:hover {
  background-color: #fff;
  color: #000;
}